.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #222;
    border: 3px solid #444;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

h1, h2, h3 {
    color: #ff3333;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 20px 0;
    background: none;
    border-bottom: 2px solid #444;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background: none;
    border-bottom: 2px solid #444;
}

.back-button, .admin-button {
    padding: 10px 20px;
    background-color: #ff3333;
    color: #1a1a1a;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #ddd;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 0px #ddd;
    margin-left: 10px;
}

.back-button:hover, .admin-button:hover {
    background-color: #ddd;
    color: #ff3333;
    box-shadow: 5px 5px 0px #ff3333;
}

.profile-achievements {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.profile-section, .achievements-section {
    width: 48%;
}

.predictions-section {
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    margin-top: 30px;
}

.section-title {
    color: #ff3333;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.predictions-grid {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.prediction-card {
    background-color: #222;
    border: 2px solid #444;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
    text-align: center;
}

.tournament-name {
  color: #ff3333;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.match-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.team {
  font-size: 16px;
  font-weight: bold;
  color: #ddd;
  flex: 1;
  text-align: center;
}

.vs {
  color: #ff3333;
  margin: 0 10px;
  font-weight: bold;
}

.prediction-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.score-input {
    width: 20px;
    padding: 10px;
    background-color: #333;
    border: 2px solid #444;
    color: #ddd;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}

.separator {
    font-size: 18px;
    margin: 0 10px;
    color: #ddd;
}

.submit-prediction {
    background-color: #ff3333;
    color: #1a1a1a;
    padding: 10px 20px;
    border: 2px solid #ddd;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 0px #ddd;
}

.submit-prediction:hover {
    background-color: #ddd;
    color: #ff3333;
    box-shadow: 5px 5px 0px #ff3333;
}
