@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  font-family: 'Special Elite', cursive;
  background-color: #1a1a1a;
  color: #ddd;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100"><rect width="100" height="100" fill="%231a1a1a"/><circle cx="50" cy="50" r="40" fill="none" stroke="%23333" stroke-width="0.5"/></svg>');
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #222;
  border: 3px solid #444;
  padding: 15px;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

/*.container::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100"><rect width="100" height="100" fill="%23222"/><path d="M0 0 L100 100 M100 0 L0 100" stroke="%23333" stroke-width="0.5"/></svg>');*/
/*  opacity: 0.1;*/
/*  pointer-events: none;*/
/*}*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /*background-color: rgba(26, 26, 26, 0.8); !* Полупрозрачный фон *!*/
}

.header-title {
  font-size: 2rem;
  color: #ff3333;
  text-transform: uppercase;
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.auth-button {
  padding: 0.5rem 1rem;
  background-color: #ff3333;
  color: #1a1a1a;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background-color: #ddd;
  color: #ff3333;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-buttons {
    margin-top: 1rem;
    align-self: flex-end;
  }
}

h1 {
  color: #ff3333;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  /*animation: flicker 2s infinite;*/
}
h2 {
  color: #ff3333;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  /*animation: flicker 2s infinite;*/
}
h3 {
  color: #ff3333;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  /*animation: flicker 2s infinite;*/
}

.account-button, .login-button {
  padding: 8px 15px;
  background-color: #ff3333;
  color: #1a1a1a;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0px #ddd;
}

.account-button:hover, .login-button:hover {
  background-color: #ddd;
  color: #ff3333;
  box-shadow: 5px 5px 0px #ff3333;
}

.football-banner {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.football-banner svg {
  width: 100%;
  height: auto;
  display: block;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.tournament-select-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.tournament-logo-container {
  width: 50px;
  height: 50px;
  background-color: #DDDDDD;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff3333; /* Red border */
  box-shadow: 0 0 10px rgba(255, 51, 51, 0.5); /* Optional: Adds some shadow for a subtle effect */
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  flex-shrink: 0;
}

.tournament-logo {
  width: 100%; /* Adjust to fit inside the square */
  height: 100%; /* Adjust to fit inside the square */
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sort-button {
  padding: 8px 15px;
  background-color: #ff3333;
  color: #1a1a1a;
  border: 2px solid #ddd;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0px #ddd;
  height: 45px;
  width: 20%;
  align-items: center;
}

.tournament-select {
  padding: 8px 15px;
  background-color: #ff3333;
  color: #1a1a1a;
  border: 2px solid #ddd;
  cursor: pointer;
  position: relative;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0px #ddd;
  height: 45px;
  justify-content: center;
  align-items: center;
}

.sort-button:hover, .tournament-select:hover {
    background-color: #ddd;
    color: #ff3333;
    box-shadow: 5px 5px 0px #ff3333;
}

.predictions-table-container {
  overflow-x: auto;
  margin-top: 20px;
}

.predictions-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  font-size: 13px;
  background-color: #2a2a2a;
}
.predictions-table th:hover {
    background-color: #4a4a4a;
}
.predictions-table tr:nth-child(even) {
    background-color: #2f2f2f;
}
.predictions-table th,
.predictions-table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #444;
  white-space: nowrap;
}

.predictions-table th {
  background-color: #3a3a3a;
  color: #ff3333;
  font-weight: bold;
  text-transform: uppercase;
}

.predictions-table td, .predictions-table th {
    transition: all 0.3s ease;
}
.predictions-table td:hover, .predictions-table th:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 51, 51, 0.5);
}

.predictions-table .pending-prediction {
  color: #ffff33;
  text-shadow: 0 0 5px rgba(255, 255, 51, 0.5);
}

.predictions-table .future-match {
  font-style: italic;
  color: #999;
}

.predictions-table .correct-prediction {
  color: #2bbd2b;
  /*font-weight: bold;*/
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.5);
}

.predictions-table .diff-prediction {
  color: #32d932;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.5);
}

.predictions-table .exact-prediction {
  color: #33ff33;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.5);
}

.predictions-table .incorrect-prediction {
  color: #ff3333;
  text-shadow: 0 0 5px rgba(255, 51, 51, 0.5);
}

.predictions-table .no-bet {
  color: #888;
  font-style: italic;
}

.predictions-table .points {
    font-weight: bold;
    background-color: #3a3a3a;
    color: #ddd;
}

.predictions-table .leader-column {
  background-color: #3f3f3f;
}

.total-points td {
  background-color: #444;
  color: #ff3333;
  text-shadow: 0 0 5px rgba(255, 51, 51, 0.5);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.total-points:hover {
    background-color: #555;
}

/*.tournament-select-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-grow: 1;*/
/*}*/
.current-match {
    background-color: #444 !important;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0px rgba(255, 51, 51, 0.7); }
    100% { box-shadow: 0 0 0 5px rgba(255, 51, 51, 0); }
}
.current-match td {
    background-color: #444 !important;
}


.predictions-table th:nth-child(1)::before {
    content: "🕒  ";
}

.predictions-table th:nth-child(2)::before {
    content: "⚽  ";
}

.predictions-table th:nth-child(3)::before {
    content: "🏆  ";
}

@keyframes flicker {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}

@keyframes flashing {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.flashing-light {
  animation: flashing 2s ease-in-out infinite;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .account-button, .login-button {
    margin-top: 20px;
    align-self: flex-end;
  }

  .controls {
    flex-direction: column;
    align-items: stretch;
  }

  .tournament-logo-container {
    display: none; /* Hide logo on mobile */
  }

  .tournament-select-container {
    margin-bottom: 10px;
    width: 100%;
  }

  .tournament-select {
    width: 100%; /* Make the tournament select full-width */
  }

  .sort-button {
    width: 100%; /* Make the sort button full-width */
  }

  .predictions-table-container {
    margin-top: 10px;
  }

  .predictions-table {
    font-size: 12px;
  }

  .predictions-table th,
  .predictions-table td {
    padding: 5px;
  }

  .predictions-table th {
    white-space: nowrap;
  }

  .predictions-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .predictions-table thead {
    display: none;
  }

  .predictions-table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #444;
  }

  .predictions-table td {
    display: block;
    text-align: right;
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: right;
  }

  .predictions-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .total-points td {
    text-align: center;
  }

  .total-points td:first-child {
    padding-left: 10px;
  }
}
